
body {
  background-color: #e6f2ff;
}

.normal {
    font-family: Supermercado one;
}

html {
    text-align: center;
    font-family: Trebuchet ms;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  margin: 1em auto;
  border-spacing: 10px;
}

img {
  width: 327px;
  height: 200px;
}

.intro {
  display: inline-block;
}

.header {
  display: inline-block;
}

p {
  margin: 25px 10px 35px 10px;
}

.col {
  width: 100%;
}

.profile {
  margin-top: : 30px;
  margin-right:15px;
  margin-bottom: 15px;
  margin-left: 15px;

}

.skills {
  padding-top: 50px;
}

#contact {
  padding-top: 25px;
}

.information {
  padding: 25px;
}

/*  Navigation Bar  */

body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: white;
}



ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: aliceblue;}

ul.topnav li a.active {background-color: #4CAF50;}

/*  Footer  */
.foot-name {
  float: left;
}

.foot-top {
  float: right;
}

footer {
  border-top-color:#555;
  padding-top: 20px;
  padding-bottom: 50px;
}

/* Media Queries */

 @media only screen and (min-width: 768px) {


   ul.topnav {
     background-color: transparent;
   }

   ul.topnav li {
     display: inline-block;
   }

   .profile {
     float: right;
     display: inline-block;
   }

   .intro {
      float: left;
   }

   .portfolio {
     clear: both;
   }

  .col {
    width: 50%;
  }

  .search,
  .map,
  .calculator {
    float: right;
  }

  .marketing,
  .travel,
  .photo-gallery {
    float: left;
  }

  .clearfix {
      overflow: auto;
      clear: both;
  }

  .profile,
  .intro {
    max-width: 50%;
  }

  .intro {
    padding-top: 30px;
    padding-left: 30px;
  }

  .profile {
    padding-right: 20px;
  }


}
 @media only screen and (min-width: 1024px) {

  .header {
    float: left;
  }

  h1 {
    margin-left: 25px;
    margin-top: 4px;
  }

  .intro {
    float: left;
  }


  .col {
    width: 33.3%;
  }

  ul.topnav li {
    float: right;

  }

  ul.topnav li.right {
    float: right;
    background-color: #e6f2ff;
  }

  .clearfix {
      overflow: auto;
  }



 }
