
body {
  background-color: #e6f2ff;
  background: linear-gradient(#e6f2ff, white);
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

html {
    text-align: center;
}

h1 {
  margin-bottom: 75px;
}

table {
  margin: 1em auto;
  border-spacing: 10px;
}

img {
  width: 327px;
  height: 200px;
}

.intro {
  display: inline-block;
}

p {
  margin: 25px 10px 35px 10px;
}

.col {
  width: 100%;
}

.profile {
  margin-top: 30px;
  margin-right:15px;
  margin-bottom: 15px;
  margin-left: 15px;

}

/* .skills {
  padding-top: 50px;
} */

#contact {
  padding-top: 25px;
}

.information {
  padding: 25px;
}

/*  Navigation Bar  */

body {
  margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: aliceblue;
}

ul.topnav li a.active {
  background-color: #4CAF50;
}

/*  Footer  */

.foot-name {
  float: left;
}

.foot-top {
  float: right;
}

.bottom-nav {
  display: none;
}

footer {
  border-top-color:#555;
  padding-top: 20px;
  padding-bottom: 50px;
}


/* Media Queries */

 @media only screen and (min-width: 768px) {


   ul.topnav {
     background-color: transparent;
   }

   ul.topnav li {
     display: inline-block;
   }

   h1 {
    margin-bottom: 20px;
   }

   .profile {
     float: right;
     display: inline-block;
   }

   .intro {
      float: left;
   }

   .portfolio {
     clear: both;
   }

  .col {
    width: 36%;
    margin-left: 50px;
    margin-right: 50px;
  }

  .search,
  .map,
  .calculator {
    float: right;
  }

  .marketing,
  .travel,
  .photo-gallery {
    float: left;
  }

  .clearfix {
      overflow: auto;
      clear: both;
  }

  .profile,
  .intro {
    max-width: 45%;
  }

  .intro {
    padding-top: 30px;
    padding-left: 30px;
  }

  .profile {
    padding-right: 20px;
  }

  .foot-top {
    display: none;
  }

  .bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 20px;
    padding: 10px;
  }

  ul.bottom-nav {
      list-style-type: none;
      margin: 20px;
      padding: 0;
      overflow: hidden;
      background-color: white;
  }

  ul.bottom-nav li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  ul.bottom-nav li a:hover:not(.active) {
    background-color: aliceblue;
  }

  ul.bottom-nav li a.active {
    background-color: #4CAF50;
  }


 @media only screen and (min-width: 1024px) {


  .name {
    margin-left: 25px;
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .intro {
    float: left;
  }

  .col {
    width: 33.3%;
    margin-left: auto;
    margin-right: auto;
  }

  ul.topnav li {
    text-align: right;
  }

  ul.topnav li.right {
    text-align: right;
    background-color: #e6f2ff;

  }

  .clearfix {
      overflow: auto;
  }

  .foot-top {
    display: none;
  }


  }
